.prepared-check input[type="checkbox"] {
	/* removing default appearance */
	-webkit-appearance: none;
	appearance: none;
	/* creating a custom design */
	width: 1.2em;
	height: 1.2em;
	border-radius: 1.2em;
	border: 0.15em solid #000000;
	outline: none;
	cursor: pointer;
	margin-top: 4px;
}

.prepared-check input[type="checkbox"]:checked {
	background-color: #51585e;
	position: relative;
	;
}
.prepared-check input[type="checkbox"]:hover {
	background-color: #858925;
	border: 0.15em solid lightgrey;
}
.prepared-check input[type="checkbox"]:checked::before {
	content: "P";
	font-size: 0.8em;
	color: #ffffff;
	position: absolute;
	right: 4px;
	top: -3.5px;
	/*align-content: auto;*/
}
.fancy-border {
	border-image-slice: 42 42 42 42;
	border-image-width: 21px 21px 21px 21px;
	border-image-outset: 0px 0px 0px 0px;
	border-image-repeat: round round;
	border-image-source: url("https://mdn.github.io/css-examples/tools/border-image-generator/border-image-6.svg");
	border-style: solid; 
}